<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WLTG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A1789BD1D2B5D46004062A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1789D61D2B5D47004062A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1789E11D2B5D47004062A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
